{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
    <h1>Invoice Details</h1>
</div>

<div id='printArea'>

{# 
        
    <!-- ********** CHECK THESE / FILL THESE IN ********** -->
    <h3>EvolveU Invoice</h3>
    <h4>Invoice Number: {{invoice.inv_id}}</h4>
    <h4>Invoice Date: {{invoice.inv_date}}</h4>
    <h4>Customer Name: {{customer.name}}</h4>
    <h4>Customer ID: {{customer.id}}</h4>

    <table>
        <tr>
        <th>Product Name</th>
        <th>Product ID</th>
        <th>Product Cost</th>
        <th>Quantity</th>
        <th>Sub Total</th>
        </tr>
        
        <!-- ********** FILL THESE IN ********** -->
        {% for item in invoices %}
        <tr>
        <td>{{}}</td>
        <td>{{}}</td>
        <td>{{}}</td>
        <td>{{}}</td>
        <td>{{}}</td>
        </tr>
        {% endfor %}
        
    </table>

    <h4>Invoice Total: {{}}</h4>

#}

</div>

<script>
    function printDiv(divName) {
        const printContents = document.getElementById(divName).innerHTML;
        const originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }
</script>

<button type="button" onclick="printDiv('printArea')" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">Print Invoice</button>

{% endblock %}